/* ========================================
   GLOBAL STYLES
   ======================================== */

:root {
  --bg: rgba(12,14,22,.72); 
  --fg:#EDEFF3; 
  --muted:#a19ab2;
  --pos:#3FDB8D; 
  --neg:#FF6B6B; 
  --neu:#C2C8D0; 
  --accent:#976efe;
  --h: 34px;
}


* { box-sizing: border-box; }
html, body { 
  margin: 0; 
  padding: 0; 
  background: transparent; 
  overflow:hidden;
  height: 100%;
}

body { -webkit-app-region: drag; } /* allow dragging anywhere except links/inputs */

/* ========================================
   HUD
   ======================================== */

.hud {
  overflow: visible; /* allows tooltips to be seen */
  position: relative;
  z-index: 0;
  -webkit-app-region: drag;   /* Makes it draggable */
  user-select: none;          /* Prevents text selection while dragging */ 
  display: flex;
  align-items: center; 
  gap: 12px;
  padding: 4px 20px; 
  height: var(--h);
  background: var(--bg); 
  color: var(--fg);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  font: 14px/1 Segoe UI, system-ui, -apple-system, Arial, sans-serif;
  border-radius: 24px; backdrop-filter: blur(6px);
  user-select: none;
  align-items: center;
}

.hud-logo {
  height: 18px;
  margin-right: 10px;
  vertical-align: middle;
  filter: drop-shadow(0 0 1px rgba(0,0,0,0.5));
}

/* ========================================
   HUD COMPONENETS
   ======================================== */

#ticker {
  background: transparent;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  color: #fff;
  background-color: #454545;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase; /* auto-uppercase */
  padding: 2px 8px;
  outline: none;
  height: 24px;
  border: 1.5px solid #AAA;
  border-radius: 10px;
  width: 90px; /* Default Width for Placeholder */
  min-width: 20px;
  max-width: 150px;
  font-size: 0.9rem;
  line-height: 16px;
  overflow: hidden; /* Hide text overflow*/
  white-space: nowrap; /* Prevent multi-line text input */
  transition: width 0.2s ease;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  opacity: 0.7;
}

#ticker-measure {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  font-family: inherit;
  padding: 2px 8px;
  font-size: 14px;
}

/* Ticker Themes */
#ticker:empty::before {
  content: " Ticker..";
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.3px;
  opacity: 1;
  text-transform: none;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

#ticker:empty::after {
  content: "";
  position: absolute;
  color: #fff;
  left: 8px;
  top: 55%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  background-image: url('../assets/search.svg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  opacity: 1;
  pointer-events: none;
}

/* Neutral State - Initial View */
#ticker.neutral {
  border-color: #666;
  background-color: #2C2C2C;
  color: #fff;
  left: 8px;
  position: center;
}

/* Invalid Input - Validation Failed */
#ticker.invalid {
  border-color: #FF6B6B;
  background-color: #3A2020;
  color: #e8b4b4;
}

#ticker:focus {
  border-color: #AAA;
}

#price {
  font-weight: 500;
  font-size: 13px;
}


/* ========================================
   DISPLAYED DATA/DIVIDERS
   ======================================== */

.sec { 
  white-space: nowrap; 
  -webkit-app-region: no-drag; /* Section Title */
} 

/* Ticker Input */
.tickerInput { 
  letter-spacing: .3px;  
  border-radius: 6px; 
  background-color: #AAA;
  cursor: text;  
  border: 1.5px solid #AAA;
  font-size: 0.5rem;
  transition: border-color 0.2s ease, color 0.2s ease;
  outline: none;
  white-space: nowrap;
}

.num { 
  font-weight: 600;
}

.muted { /* muted color text */
  color: var(--muted); 
  font-weight: 500; 
}

.sep { /* Dividers */
  color: #867e98; 
  opacity: .9; 
  position: relative;
} 

.sec {
  position: relative;
  display: inline-block;
}


.sentiment .label { 
  color: var(--muted); 
  margin-right: 2px; 
}
.sentiment .sigma { 
  color: var(--muted); 
  margin-left: 4px; 
}

.strat { 
  position: relative; 
  display: inline-flex; 
  align-items: center;  
}

.badge { 
  font-weight: 700; 
  padding: 1px 4px; 
  border-radius: 4px; 
  background: rgba(110,168,254,.15);
}

.conf { 
  position: relative; 
  display: inline-flex; 
  align-items: center; 
}

.conf .bar {
  position: absolute; 
  left: 0; 
  top: 50%; 
  transform: translateY(-50%);
  height: 10px; 
  max-width: 32px; 
  width: 0; 
  background: rgba(151,110,254,.35);  
  border-radius: 3px; 
  z-index: 0;
}

.conf span:last-child { 
  position: relative; 
  padding-left: 4px; 
  z-index: 1; 
}

.oneliner { 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 44vw; 
}

.pos { 
  color: var(--pos); 
} 

.neg { 
  color: var(--neg); 
} 

.neu { 
  color: var(--neu); 
}

.hide-narrow { 
  display: none; 
} 


/* Hides Ticker info when users first view app */
#hud-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  visibility: hidden;
  flex-wrap: nowrap;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0s linear 0.4s;
  align-items: center;
  gap: 8px;
  height: var(--h);
}


/* HUD Ticker info visible once active */
#hud-info.active {
  opacity: 1;
  transition-delay: 0s;
  visibility: visible;
}

#hud-info.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}


/* ========================================
   VALIDATION PROMPTS
   ======================================== */

.validationPrompt {
  opacity: 1;
  transition: opacity 0.4s ease;   
}

.validationPrompt.hidden {
  opacity: 0;
  pointer-events: none;
}

/* 
  Ticker Validation
  TO DO: Planning to add shake animation for invalid ticker inputs/clean
*/
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-4px); }
  40% { transform: translateX(4px); }
  60% { transform: translateX(-4px); }
  80% { transform: translateX(4px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.3s;
}

/* ========================================
   TOOLTIPS
   ======================================== */


/* Tooltip Container */
.tooltip-box {
  position:absolute;
  border: 1px solid red;
  visibility: hidden;
  bottom: 125%; /* Places tooltip above the element */
  left: 50%;
  transform: translateX(-50%) translateY(0);
  background-color: rgba(30, 30, 30, 0.95);
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 13px;
  width: max-content;
  white-space: normal;
  max-width: 220px;
  text-align: left;
  line-height: 1.4;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  transform-origin: bottom center;
  z-index: 9999;
  backdrop-filter: blur(4px);
}

/* Tooltip Title - Bolded */
.tooltip-box strong {
  display: block;
  font-weight: 600;
  margin-bottom: 3px;
  color: #ffffff;
}

/*  Tooltip Arrow  */
.tooltip-box::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: rgba(25, 25, 30, 0.95) transparent transparent transparent;
}

/* On-Hover Reveal w/ delay */
.sec:hover .tooltip-box {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-4px);
  pointer-events: auto;
  transition-delay: 0.4s; /* Slight delay */
}

/* Tooltips Disappears instantly on leave */
.sec:not(:hover) .tooltip-box {
  transition-delay: 0s;
}

